# dependencies
/node_modules

# production
/build
/dist

# dotenv environment variables file
.env

# logs
logs/combined.log
logs/info.log
logs/error.log
logs/debug.log
logs/jsonToETL.log
postgres-scripts/csvjson.json
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Reports
type-check-output.txt
eslint-analysis.txt