# dependencies
/node_modules

# production
/build
/dist

# dotenv environment variables file
.env

# logs
logs/combined.log
logs/info.log
logs/error.log
logs/debug.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Reports
reports/type-check-output.txt
reports/eslint-analysis.txt
reports/snyk-code-analysis.txt
reports/snyk-dependency-analysis.txt

#Snyk
.dccache
database/reset-variable-expenses.sql

# Image upload local only
/public/img/uploads/
